
FrontEndRapidPrototype/.vs/FrontEndRapidPrototype/v15/.suo
*.db
*.opendb
*.ipch
*.json
*.sqlite
*.log
*.sln
*.vcxproj
*.filters
*.user
*.tlog
*.obj
*.pdb
*.o
FrontEndRapidPrototype/main
out.out
resultsfile.txt
FrontEndRapidPrototype/out.out
